.sidebar-wrapper {
    hr {
        margin: 0;
    }
    .sidebar-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 15px;
        height: auto;
    }
    .sidebar-footer {
        padding: 5px 15px;
        min-height: 49px;
    }
}